 <form method="post" action="/memos">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" value="<%= @title %>" name="old_title">
  <p><input type="text" id="new_title" name="new_title" value="<%= @title %>" required></p>
  <p><textarea id="new_content" name="new_content"><%= @content %></textarea></p>
  <p><input type="submit" value="変更" id="edit" name="edit"></p>
</form>
