<form method="post" action="/memos">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" value="<%= @title %>" name="old_title">
  <input type="text" id="new_title" name="new_title" value="<%= @title %>" required>
  <textarea id="new_content" name="new_content"><%= @content %></textarea>
  <input type="submit" value="変更" id="edit" name="edit">
</form>
