<p><%= @title %></p>
<p><%= @content %></p>
<p><a href="/edit?title=<%= @title %>"><input type="button" value="変更" id="edit" name="edit"></a></p>
<form method="post" action="/memos?title=<%= @title %>">
  <p><input type="hidden" name="_method" value="DELETE"></p>
  <p><input type="submit" value="削除" id="del" name="del"></p>
</form>
