<p><%= @title %></p>
<p><%= @content %></p>

<a href="/edit?title=<%= @title %>"><input type="button" value="変更" id="edit" name="edit"></a>

<form method="post" action="/memos?title=<%= @title %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除" id="del" name="del">
</form>
